@tailwind base;
@tailwind components;
@tailwind utilities;

body, html, #root, * {
  font-family: Jaldi, sans-serif !important;
}

:root {
  --col-blue: #0079FF;
  --col-green: #00DFA2;
  --col-red: #FF0060;
  --col-yellow-light: #FBFDCE;
  
}

/* RESET */


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  width: 100vw;
  min-height: 100vh;
}

/* FONT SIZES AND WEIGHT */

.jaldi-regular {
  font-family: "Jaldi", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.jaldi-bold {
  font-family: "Jaldi", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.text-sm {
  font-size: 1rem; /* 16px */
}

.text-md {
  font-size: 1.25rem; /* 20px */
}

.text-lg {
  font-size: 1.563rem; /* 25px */
}

.text-xl {
  font-size: 2.5rem; /* 40px */
}

/* CUSTOMIZING INPUT */

.custom-input::placeholder {
  color: var(--col-blue); 
}

.custom-input {
  box-sizing: border-box; 
  padding-left: 1rem; 
  text-align: justify; 
  resize: none; 
}

